#problems-bar {
    border: solid 2px #4C5C69;
    background-color: #A7C9E7;
    margin: 10px auto;
    color: #283036;
    font-weight: bold;
    font-size: 16px;
    min-width: 420px;
    width: 98%;
}
.problems-bar-inside {
    padding: 20px 1%;
    display: block;
    float: left;
    text-align: center;
}
#problems-bar-student {
    text-align: left;
    width: 25%;
}
#problems-bar-logout {
    float: right;
    min-width: 64px;
}
#problems-bar-problems {
    width: 71%;
}
#problems-bar-problemButton {
    float: left;
}
.problems-button {
    margin: 10px;
    padding: 6px;
    margin-top: 0px;
}
#problems-list-container {
    clear: both;
    background-color: white;
    border: solid 1px black;
    width: 98%;
    margin: auto;
    padding: 0px;
}
#problem-ul {
    margin: 0px;
    padding: 0px;
}
.problems-list-names {
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 0px;
}
.problems-list-names:hover {
    background-color: #eee;
}
.problems-list-item {
    display: block;
    width: 25%;
    float: left;
}
.problem-boxes {
    display: block;
    width: 29%;
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 20px;
    float: left;
    border: solid 1px black;
    text-align: center;
    padding: 100px 0px;
    background-color: white;
    cursor: pointer;
}
#problem-boxes-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 400px;
    margin-top: 20px;
}
#problems-search-txt {
    margin-top: 14px;
    font-size: 20px;
    width: 70%;
    border: solid 1px black;
    border-radius: 4px;
    padding-left: 3px;
}
#problems-chButton {
    float: right;
    padding: 4px;
    margin-right: 5px;
}

.problem-color-text {
    font-weight: normal;
    float: left;
    width: 67%;
    font-size: 16px;
    margin: 23px 0px;
    text-align: left;
}
.problem-color-box {
    width: 13%;
    height: 70px;
    margin: 10px 5%;
    float: left;
    border: solid 2px #222;
}
#problem-color-guide-header {
    text-align: center;
    display: block;
    font-size: 20px;
}
#problem-color-guide {
    width: 97%;
    margin: auto;
    background-color: #CBDBE9;
    border: solid 2px #222;
    margin: 10px auto;
    padding-top: 10px;
}
.problem-color-row {
    float: left;
    width: 33%;
}